{
  "name": "basta-spring-2017-nodejs-typescript-demo",
  "version": "1.0.0",
  "main": "index.js",
  "repository": "https://github.com/thinktecture/basta-spring-2017-nodejs-typescript-demo.git",
  "author": "Manuel Rauber <manuel.rauber@thinktecture.com>",
  "license": "MIT",
  "dependencies": {
    "pg": "^6.1.0",
    "restify": "^4.3.0",
    "restify-cors": "^1.0.1",
    "sequelize": "^3.27.0"
  },
  "scripts": {
    "start": "nodemon --exec ts-node src/api/index.ts",
    "build": "tsc"
  },
  "devDependencies": {
    "@types/restify": "^2.0.40",
    "@types/sequelize": "^4.0.41",
    "nodemon": "^1.11.0",
    "ts-node": "^2.1.0",
    "typescript": "^2.1.6"
  }
}
